<div class="container shadow-sm p-1 px-3 pb-3 mb-2 bg-light rounded border">
  <div class="row align-items-center">
      <div class="col-md-4">
          <label for="cboCentroMedico" class="form-label small fw-bold">Centro Médico:</label>
          <select id="cboCentroMedico" class="form-select form-select-sm">
          </select>
      </div>
      <div class="col-md-4">
          <label for="cboEstado" class="form-label small fw-bold">Estado:</label>
          <select id="cboEstado" class="form-select form-select-sm">
          </select>
      </div>
      <div class="col-md-4">
        <label for="cboTipoDescuento" class="form-label small fw-bold">Tipo Descuento:</label>
        <select id="cboTipoDescuento" class="form-select form-select-sm">
        </select>
    </div>
  </div>
  <div class="row align-items-end">    
      <div class="col-md-4">
        <label for="fechaVigenciaDesde" class="form-label small fw-bold">Vigencia Desde: </label>
        <input type="date" class="form-control form-control-sm" id="fechaVigenciaDesde">
      </div>
      <div class="col-md-4">
        <label for="fechaVigenciaHasta" class="form-label small fw-bold">Vigencia Hasta: </label>
        <input type="date" class="form-control form-control-sm" id="fechaVigenciaHasta">
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-end gap-2">
        <button id="btnLimpiarFiltrosHistorialImporte" class="btn btn-secondary btn-sm">Limpiar</button>
        <button id="btnNuevoHistorialImporte" class="btn btn-primary btn-sm">Nuevo</button>
        <button id="btnFiltrarHistorialImporte" class="btn btn-primary btn-sm">Buscar</button>
      </div>
  </div>
</div>

<table id="tblHistorialImportes" class="table table-hover">
</table>
 <!-- Contenedor de paginación -->
<nav id="paginationHistorialImportes" class="d-flex justify-content-center"></nav>  