<div class="container shadow-sm p-3 mb-4 bg-light rounded border">
  <div class="row align-items-center">
      <div class="col-md-4">
          <label for="cboCentroMedico">Centro Médico:</label>
          <select id="cboCentroMedico" class="form-select">
          </select>
      </div>
      <div class="col-md-4">
          <label for="cboEstado">Estado:</label>
          <select id="cboEstado" class="form-select">
          </select>
      </div>
      <div class="col-md-4">
        <label for="cboTipoDescuento">Tipo Descuento:</label>
        <select id="cboTipoDescuento" class="form-select">
        </select>
    </div>
  </div>
  <div class="row align-items-center">    
      <div class="col-md-4">
        <label for="fechaVigenciaDesde" class="form-label">Vigencia Desde: </label>
        <input type="date" class="form-control" id="fechaVigenciaDesde" name="fecha">
      </div>
      <div class="col-md-4">
        <label for="fechaVigenciaHasta" class="form-label">Vigencia Hasta: </label>
        <input type="date" class="form-control" id="fechaVigenciaHasta" name="fecha">
      </div>
      <div class="col-md-3 d-flex justify-content-end mt-4">
        <button id="btnLimpiarCentroMedico" class="btn btn-secondary mx-1">Limpiar</button>
        <button id="btnNuevoCentroMedico" class="btn btn-primary mx-1">Nuevo</button>
        <button id="btnFiltrarCentroMedico" class="btn btn-primary mx-1 disabled" >Buscar</button>
      </div>
  </div>
</div>  
<table id="tblHistorialImportes" class="table table-hover">
</table>
 <!-- Contenedor de paginación -->
<nav id="paginationHistorialImportes" class="d-flex justify-content-center"></nav>  