<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>PsicopeApp</title>
</head>
<body>
  <div class="container">
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#centros">Centros Médicos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#importes">Importes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#pacientes">Pacientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#sesiones">Sesiones</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#configuracion">Configuración</a>
          </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="centros">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <label for="name">Nombre:</label>
                        <input type="text" id="txtName" class="form-control" placeholder="Ingrese nombre">
                    </div>
                    <div class="col-md-4">
                        <label for="cboLocalidad">Localidad:</label>
                        <select id="cboLocalidad" class="form-select">
                            <option value="">Seleccione Localidad</option>
                            <option value="1">Castelar</option>
                            <option value="2">Morón</option>
                        </select>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end mt-4">
                        <button id="btnLimpiarCentroMedico" class="btn btn-secondary mx-1">Limpiar</button>
                        <button id="btnNuevoCentroMedico" class="btn btn-primary mx-1" id="btnCrearCentroMedico">Nuevo</button>
                        <button id="btnFiltrarCentroMedico" class="btn btn-primary mx-1" id="btnFiltrarCentroMedico" >Buscar</button>
                    </div>
                </div>
            </div>            
            
              <table id="tblCentrosMedicos" class="table table-hover">
              </table>
               <!-- Contenedor de paginación -->
              <nav id="pagination" class="d-flex justify-content-center"></nav>
          </div>

          <!-- TAB IMPORTES -->
          <div class="tab-pane fade" id="importes">
              <h1>Aquí va la grilla de historiales</h1>
          </div>

          <!-- TAB PACIENTES -->
          <div class="tab-pane fade" id="pacientes">
              <h1>Lista de Pacientes</h1>
          </div>
      </div>
  </div>

  <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="helpers.js"></script>
  <script src="index.js"></script>
</body>
</html>

