<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>PsicopeApp</title>
  <style>
    .section {
        display: none;
    }
    .section.active {
        display: block;
    }
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" onclick="ShowSection('grillaSesiones')">Centros Médicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="ShowSection('grillaHistorial')">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grupo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sesiones</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <div id="grillaSesiones" class="section active">
    <table id="tblSesiones" class="table table-striped table-hover">
      <!-- <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Contacto</th>
          <th scope="col">Email</th>
          <th scope="col">Duracion Sesión</th>
      </tr> -->
    </table>
  </div>
  <div id="grillaHistorial" class="section">
    <h1>Aca va la grilla de historiales</h1>
  </div>
  <button id="btnCrearCentroMedico">Crear Centro Médico</button>
  <button id="btnFiltrarCentroMedico">Filtrar Centro Médico</button>
  <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="index.js"></script>
  <script src="helpers.js"></script>
</body>
</html>
