<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>PsicopeApp</title>
</head>
<body>
  <div class="container">
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#centros">Centros Médicos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#importes">Importes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#pacientes">Pacientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#sesiones">Sesiones</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#configuracion">Configuración</a>
          </li>
      </ul>

      <div class="tab-content">
          <!-- TAB CENTROS MÉDICOS -->
          <div class="tab-pane fade show active" id="centros">
              <div class="form-group mt-3">
                  <label for="name">Nombre:</label>
                  <input type="text" id="txtName" class="form-control mb-2" placeholder="Ingrese nombre">
                  <label for="cboLocalidad">Localidad:</label>
                  <select id="cboLocalidad" class="form-select mb-2">
                      <option value="">Seleccione Localidad</option>
                      <option value="1">Morón</option>
                      <option value="2">Castelar</option>
                  </select>
                  <button id="btnLimpiarCentroMedico" class="btn btn-secondary">Limpiar</button>
                  <button id="btnCrearCentroMedico" class="btn btn-secondary">Nuevo</button>
                  <button id="btnFiltrarCentroMedico" class="btn btn-primary">Buscar</button>
              </div>
              <table id="tblCentrosMedicos" class="table">
              </table>
               <!-- Contenedor de paginación -->
              <nav id="pagination"></nav>
          </div>

          <!-- TAB IMPORTES -->
          <div class="tab-pane fade" id="importes">
              <h1>Aquí va la grilla de historiales</h1>
          </div>

          <!-- TAB PACIENTES -->
          <div class="tab-pane fade" id="pacientes">
              <h1>Lista de Pacientes</h1>
          </div>
      </div>
  </div>

  <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="helpers.js"></script>
  <script src="index.js"></script>
</body>
</html>

