<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Centro Médico</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="NuevoCentroMedico.css">
</head>
<body>
    <div class="container">
        <h3>Nuevo Centro Médico</h3>
        <form id="frmNuevoCentroMedico">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" required>
    
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" required>
    
            <label for="localidad">Localidad</label>
            <select class="form-select" id="localidad" required>
                <option value="1">Morón</option>
                <option value="2">Castelar</option>
                <option>Haedo</option>
            </select>
    
            <label for="telefono">Teléfono Contacto</label>
            <input type="text" class="form-control" id="telefono" required>
    
            <label for="contacto">Persona Contacto</label>
            <input type="text" class="form-control" id="contacto" required>
    
            <label for="email">Mail</label>
            <input type="email" class="form-control" id="email" required>
    
            <label for="duracion">Duración Sesión</label>
            <input type="number" class="form-control" id="duracion" required>
    
            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button id="btnGuardarCentroMedico" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="NuevoCentroMedico.js"></script>
</body>
</html>