body {
  font-family: Arial, sans-serif;
  background-color: white;
  width: 100%;
}

.container {
  max-width: 100%; /* Sobrescribe el ancho máximo de Bootstrap */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%; /* Ajustar el tamaño del contenedor */
}

.nav-tabs {
  border-bottom: none;
  background-color: #343a40;
  padding: 3px; /* Reducir el espacio interno */
  border-radius: 10px;
}

.nav-tabs .nav-item .nav-link {
  border-radius: 8px; /* Bordes más suaves */
  border: 1px solid #6c757d;
  color: white;
  background-color: #343a40;
  margin-right: 3px; /* Espaciado más ajustado */
  padding: 6px 12px; /* Ajustar tamaño del tab */
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  padding: 6px 12px; /* Ajustar tamaño del tab activo */
}

.container-fluid {
  width: 100%;
}

.table-responsive {
  width: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
}

.form-control,.form-select {
  width: 100%; /* Asegurar que los campos ocupen todo el ancho de su columna */
}

.tab-content {
  margin-top: 20px;
}

th {
  background-color: #343a40;
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.form-group {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.form-group div {
  flex: 1; /* Hace que los elementos ocupen el mismo espacio */
  min-width: 200px; /* Ancho mínimo */
}

.btn-disabled {
  background-color: #ccc !important;
  border-color: #ccc !important;
  color: #666 !important;
  pointer-events: none;
}

  /* Responsive */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}


.table .highlight td{
  background-color: #d4edda !important;
  animation: fadeIn 0.5s ease-out, fadeOut 2s 2s forwards;
}

/* Animación para la entrada */
@keyframes fadeIn {
  0% {
    background-color: #d4edda; /* Asegura que el fondo sea visible */
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    background-color: #d4edda; /* Mantiene el color */
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación para el desvanecimiento */
@keyframes fadeOut {
  0% {
    background-color: #d4edda;
  }
  100% {
    background-color: transparent;
  }
}

.fas.fa-edit {
  color: #007bff; /* Azul para el ícono de edición */
}

.fas.fa-edit:hover {
  color: #0056b3; /* Azul más oscuro al pasar el mouse */
}